
//Add red antics to required fields
.control-label.required:not(.requiredIgnore):after {
  color: #d00;
  font-family: 'FontAwesome';
  font-weight: normal;
  font-size: 14px;
  content: "\f069";
  margin-top: -4px;
  margin-left: 4px;
}

.clickable-row {
  cursor: pointer;
}

.red {
  color: rgba(241,31,0,0.78);
}

.yellow {
  color: rgba(241,109,2,0.78);
}

.blue {
  color: rgba(34,193,241,0.78);
}

.green {
  color: rgba(0, 102, 26, 0.78);
}