{# alarmsToday #}
{# Created by Justin on 11/16/2017 #}

{% extends ':Emails:base.html.twig' %}
{% import ':Default:utils.html.twig' as utils %}

{% block content %}
	<br />
	Please see the below report containing your MRI system(s) that produced a <b>critical alarm</b> between {{ dateStart|date("Y-m-d H:i") }} UTC and {{ dateEnd|date("Y-m-d H:i") }} UTC  monitored by its {{ parameter('site_box_name') }}.
	<br />
	<br />
	<table border="1" cellpadding="2" style="font-size: xx-small;">
		<tr>
			<td>Legend:</td>
			<td style="background-color: #ce1414">Critical Alarm</td>
			<td style="background-color: #ffaa44">Alarm</td>
			<td{{ utils.lineThrough() }}>Not Monitored</td>
		</tr>
	</table>
	{#{% dump(systems) %}#}
	{% for system in systems %}
		<br />
		<br />
		<b>{{ system.systemName }} - <a href="{{ parameter('domain_name') }}{{ path('system', {'id': system.id}) }}">{{ system.systemId }}</a></b>
		<table border="1" width="100%">
			<thead>
				<tr>
					<th>Date</th>
					<th{% if not system.monitorHe %}{{ utils.lineThrough() }}{% endif %}>Helium Level</th>
					<th{% if not system.monitorVp %}{{ utils.lineThrough() }}{% endif %}>Vessel Pressure</th>
					<th{% if not system.monitorWf %}{{ utils.lineThrough() }}{% endif %}>Water Flow</th>
					<th{% if not system.monitorWt %}{{ utils.lineThrough() }}{% endif %}>Water Temp</th>
					<th{% if not system.monitorRh %}{{ utils.lineThrough() }}{% endif %}>Room Humidity</th>
					<th{% if not system.monitorTf %}{{ utils.lineThrough() }}{% endif %}>Room Temp</th>
					<th{% if not system.monitorDp %}{{ utils.lineThrough() }}{% endif %}>Room DP</th>
					<th{% if not system.monitorDpDiff %}{{ utils.lineThrough() }}{% endif %}>Room DP Diff</th>
					<th{% if not system.monitorCmp %}{{ utils.lineThrough() }}{% endif %}>Compressor</th>
					<th{% if not system.monitorQ %}{{ utils.lineThrough() }}{% endif %}>Field</th>
				</tr>
				<tr>
					<th align="right"><i>Specs-></i></th>
					<th{% if not system.monitorHe %}{{ utils.lineThrough() }}{% endif %}>
						{% if system.inStorage %}
							<span{{ utils.redTextStyle() }}>{{ system.criticalStorageHeL }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmStorageHeL }}</span>
						{% else %}
							<span{{ utils.redTextStyle() }}>{{ system.criticalHeL }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmHeL }}</span>
						{% endif %}
					</th>
					<th{% if not system.monitorVp %}{{ utils.lineThrough() }}{% endif %}>
						{% if system.inStorage %}
							<span{{ utils.redTextStyle() }}>{{ system.criticalStorageVpL }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmStorageVpL }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmStorageVpH }}</span>-<span{{ utils.redTextStyle() }}>{{ system.criticalStorageVpH }}</span>
						{% else %}
							<span{{ utils.redTextStyle() }}>{{ system.criticalVpL }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmVpL }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmVpH }}</span>-<span{{ utils.redTextStyle() }}>{{ system.criticalVpH }}</span>
						{% endif %}
					</th>
					<th{% if not system.monitorWf %}{{ utils.lineThrough() }}{% endif %}>
						<span{{ utils.redTextStyle() }}>{{ system.criticalWfL }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmWfL }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmWfH }}</span>-<span{{ utils.redTextStyle() }}>{{ system.criticalWfH }}</span>
					</th>
					<th{% if not system.monitorWt %}{{ utils.lineThrough() }}{% endif %}>
						<span{{ utils.redTextStyle() }}>{{ system.criticalWtL }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmWtL }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmWtH }}</span>-<span{{ utils.redTextStyle() }}>{{ system.criticalWtH }}</span>
					</th>
					<th{% if not system.monitorRh %}{{ utils.lineThrough() }}{% endif %}>
						<span{{ utils.redTextStyle() }}>{{ system.criticalRhL }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmRhL }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmRhH }}</span>-<span{{ utils.redTextStyle() }}>{{ system.criticalRhH }}</span>
					</th>
					<th{% if not system.monitorTf %}{{ utils.lineThrough() }}{% endif %}>
						<span{{ utils.redTextStyle() }}>{{ system.criticalTfL }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmTfL }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmTfH }}</span>-<span{{ utils.redTextStyle() }}>{{ system.criticalTfH }}</span>
					</th>
					<th{% if not system.monitorDp %}{{ utils.lineThrough() }}{% endif %}>
						<span{{ utils.yellowTextStyle() }}>{{ system.alarmDpH }}</span>-<span{{ utils.redTextStyle() }}>{{ system.criticalDpH }}</span>
					</th>
					<th{% if not system.monitorDpDiff %}{{ utils.lineThrough() }}{% endif %}>
						<span{{ utils.redTextStyle() }}>{{ system.criticalDpDiff }}</span>-<span{{ utils.yellowTextStyle() }}>{{ system.alarmDpDiff }}</span>
					</th>
					<th{% if not system.monitorCmp %}{{ utils.lineThrough() }}{% endif %}><span{{ utils.redTextStyle() }}>Off</span></th>
					<th{% if not system.monitorQ %}{{ utils.lineThrough() }}{% endif %}><span{{ utils.redTextStyle() }}>Off</span></th>
				</tr>
			</thead>
			<tbody>
			{% if system.data|length > parameter('dataPointsCriticalAlarms') %}
				{% set dataPoints = system.data|slice(0, parameter('dataPointsCriticalAlarms')) %}
			{% else %}
				{% set dataPoints = system.data %}
			{% endif %}
			{% for datum in dataPoints|sysdatasort %}
				<tr>
					<td style="{{ utils.outlineTr() }}">{{ datum.timestamp|date() }}</td>
					<td style="{% if not system.monitorHe %}{{ utils.lineThroughStyle() }}{% endif %} {{ utils.outlineTr() }} {{ utils.backColorOrgRedWht(datum.hec, datum.hea) }}">{{ datum.he }}</td>
					<td style="{% if not system.monitorVp %}{{ utils.lineThroughStyle() }}{% endif %} {{ utils.outlineTr() }} {{ utils.backColorOrgRedWht(datum.vpc, datum.vpa) }}">{{ datum.vp }}</td>
					<td style="{% if not system.monitorWf %}{{ utils.lineThroughStyle() }}{% endif %} {{ utils.outlineTr() }} {{ utils.backColorOrgRedWht(datum.wfc, datum.wfa) }}">{{ datum.wf }}</td>
					<td style="{% if not system.monitorWt %}{{ utils.lineThroughStyle() }}{% endif %} {{ utils.outlineTr() }} {{ utils.backColorOrgRedWht(datum.wtc, datum.wta) }}">{{ datum.wt }}</td>
					<td style="{% if not system.monitorRh %}{{ utils.lineThroughStyle() }}{% endif %} {{ utils.outlineTr() }} {{ utils.backColorOrgRedWht(datum.rhc, datum.rha) }}">{{ datum.rh }}</td>
					<td style="{% if not system.monitorTf %}{{ utils.lineThroughStyle() }}{% endif %} {{ utils.outlineTr() }} {{ utils.backColorOrgRedWht(datum.tfc, datum.tfa) }}">{{ datum.tf }}</td>
					<td style="{% if not system.monitorDp %}{{ utils.lineThroughStyle() }}{% endif %} {{ utils.outlineTr() }} {{ utils.backColorOrgRedWht(datum.dpc, datum.dpa) }}">{{ datum.dp }} F</td>
					<td style="{% if not system.monitorDpDiff %}{{ utils.lineThroughStyle() }}{% endif %} {{ utils.outlineTr() }} {{ utils.backColorOrgRedWht(datum.dpdc, datum.dpda) }}">{{ datum.dpdiff }} F</td>
					<td style="{% if not system.monitorCmp %}{{ utils.lineThroughStyle() }}{% endif %} {{ utils.outlineTr() }} {{ utils.backColorOrgRedWht(datum.cmpc, false) }}">{{ datum.cmp ? 'On':'Off' }}</td>
					<td style="{% if not system.monitorQ %}{{ utils.lineThroughStyle() }}{% endif %} {{ utils.outlineTr() }} {{ utils.backColorOrgRedWht(datum.qc, false) }}">{{ datum.q ? 'On':'Off' }}</td>
				</tr>
			{% endfor %}
			{% if system.data|length > parameter('dataPointsCriticalAlarms') %}
				<tr>
					<td colspan="9">Limited to the last {{ parameter('dataPointsCriticalAlarms') }} data points. Please login to view the full history.</td>
				</tr>
			{% endif %}
			</tbody>
		</table>
	{% endfor %}
	<br />
	<br />
	For further information, more data, and email settings please login to your account at <a href="{{ parameter('login_page') }}">{{ parameter('domain_name') }}</a>
{% endblock content %}