{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>

{% block html_tag %}
<html lang="{{ app.request.locale }}">
{% endblock html_tag %}

{% block head %}
	<head>
		<meta charset="{{ _charset }}" />
		{% block head_style %}
			<link rel="stylesheet" href="{{ asset('css/main.css'|asset_version) }}" />
			<link rel="stylesheet" href="{{ asset('css/bootstrap.css'|asset_version) }}" />
			<link rel="stylesheet" href="{{ asset('css/font-awesome.css'|asset_version) }}" />
		{% endblock head_style %}

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block head_script %}
			<script type="text/javascript" src="{{ asset('js/jquery.js'|asset_version) }}"></script>
			{#<script type="text/javascript" src="{{ asset('js/jquery-ui.js'|asset_version) }}"></script>#}
			<script type="text/javascript" src="{{ asset('js/bootstrap.js'|asset_version) }}"></script>
			<script type="text/javascript" src="{{ asset('js/site.js'|asset_version) }}"></script>
		{% endblock head_script %}

		<title>{% block title %}Oxford Instruments Healthcare{% endblock title %}</title>
		{% block favicon %}<link rel="shortcut icon" href="{{ asset('images/common/favicon.ico') }}" />{% endblock %}
		{% block head_bottom %}
		{% endblock head_bottom %}
	</head>
{% endblock head %}

{% block body_tag %}
<body>
{% endblock body_tag %}
{% block body_start %}
	{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
		<div class="row text-center">
			<div class="col-md-12">
				Impersonating {{ app.user.name }} - {{ app.user.username }}<br>
				{% set route = app.request.get('_route') %}
				{% set route_params = app.request.get('_route_params') %}
				<a class="impersonation" href="{{ path(route, route_params | merge({'_switch_user': '_exit'})) }}">Exit Impersonation</a>
			</div>
		</div>
	{% endif %}
<div class="navbar navbar-fixed-top">
	<div id="pageTop" class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<img class="site-logo-icon" src="{{ asset('images/common/oxford-instruments-logo.png') }}">
			</div>
			<div class="col-xs-12 col-md-6">
				<h1 class="site-logo text-center">{{ site_name }}</h1>
			</div>
			<div class="col-md-5"></div>
		</div>




	</div>
	{% endblock body_start %}

	{% block body %}
	{% block navbar %}
		{% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false, staticTop: false, fixedBottom: false, staticBottom: false, inverse: false, fluid: true, id: 'mainNav'} %}
			{% block brand %}
				{#<a class="navbar-brand" href="#">Mopa Bootstrap</a>#}
			{% endblock %}

			{% block menu %}
				{% if is_granted('ROLE_USER') %}
					{{ mopa_bootstrap_menu('AppBundle:Builder:logoutMenu', {'automenu': 'navbar', 'pull-right': true}) }}
					{{ mopa_bootstrap_menu('AppBundle:Builder:userMenu', {'automenu': 'navbar', 'pull-right': true, 'user': app.user() }) }}
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					{{ mopa_bootstrap_menu('AppBundle:Builder:adminMenu', {'automenu': 'navbar', 'pull-right': true}) }}
				{% endif %}
				{{ mopa_bootstrap_menu('AppBundle:Builder:mainMenu', {'automenu': 'navbar', 'pull-right': true, 'user': app.user()  }) }}
			{% endblock %}
		{% endembed %}
	{% endblock %}
</div>
{% block container %}
{% block container_div_start %}<div class="{% block container_class %}container{% endblock container_class %}">{% endblock container_div_start %}
{% block header %}
{% endblock header %}

{% block content_div_start %}<div class="content content-pad">{% endblock content_div_start %}
{% block page_header %}
	<div class="page-header">
		<h1>{% block headline %}OiVision Magnet Monitoring{% endblock headline %}</h1>
	</div>
{% endblock page_header %}

{% block flashes %}
	{% if app.session.flashbag.peekAll|length > 0 %}
		<div class="row">
			<div class="col-sm-12 flashBlock">
				{{ session_flash() }}
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="col-sm-12 flashBlock">
		</div>
	</div>
{% endblock flashes %}

{% block content_row %}
	<div class="row">
		{% block content %}
			<div class="col-sm-12">
				{% block content_content %}
					<strong>CONTENT-HERE</strong>
				{% endblock content_content %}
			</div>
			{#<div class="col-sm-3">#}
			{% block content_sidebar %}
				{#<h2>SIDEBAR-HERE</h2>#}
			{% endblock content_sidebar %}
			{#</div>#}
		{% endblock content %}
	</div>
{% endblock content_row %}

{% block content_div_end %}</div>{% endblock content_div_end %}


{% block container_div_end %}</div><!-- /container -->{% endblock container_div_end %}
{% endblock container %}

{% block footer_container_start %}<div class="{% block footer_container_class %}container-fluid{% endblock footer_container_class %}">{% endblock footer_container_start %}

	{% block footer_tag_start %}
	<div class="navbar navbar-fixed-bottom">
		<footer>
			{% endblock footer_tag_start %}

			{% block footer %}
				<br><br>
				<div class="row footer-spacer">
					<div class="col-sm-12"></div>
				</div>

				<div class="row footer">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-3"></div>
							<div class="col-lg-8">


								<div class="footer-col-text">&copy; <a href="https://www.oxford-instruments.com/businesses/service/healthcare" target="_blank">Oxford Instruments Healthcare</a> {{ parameter('company_copyright_year') }}</div>
								<div class="footer-col-text-spacer"></div>
								<div class="footer-col-text"><a href="https://oxford-instruments.com/copyright-statement?src=fn" id="ctl00_ctl00_ucFooter_ucFooterNavigation_rptList_ctl01_lnkElement">Copyright Statement</a></div>
								<div class="footer-col-text-spacer"></div>
								<div class="footer-col-text"><a href="https://oxford-instruments.com/regulatory-information?src=fn" id="ctl00_ctl00_ucFooter_ucFooterNavigation_rptList_ctl04_lnkElement">Regulatory Information</a></div>
								<div class="footer-col-text-spacer"></div>
								<div class="footer-col-text"><a href="https://oxford-instruments.com/terms-and-conditions?src=fn" id="ctl00_ctl00_ucFooter_ucFooterNavigation_rptList_ctl05_lnkElement">Terms &amp; Conditions</a></div>
								<div class="footer-col-text-spacer"></div>
								<div class="footer-col-text"><a href="https://oxford-instruments.com/privacy-statement?src=fn" id="ctl00_ctl00_ucFooter_ucFooterNavigation_rptList_ctl06_lnkElement">Privacy</a></div>
								<div class="footer-col-text-spacer"></div>
								<div class="footer-col-text"><a href="https://oxford-instruments.com/disclaimer?src=fn" id="ctl00_ctl00_ucFooter_ucFooterNavigation_rptList_ctl07_lnkElement">Disclaimer</a></div>
								<div class="footer-col-text-spacer"></div>
								<div class="footer-col-text"><a href="https://oxford-instruments.com/corporate-and-social-responsibility?src=fn" id="ctl00_ctl00_ucFooter_ucFooterNavigation_rptList_ctl02_lnkElement">CSR</a></div>
								<div class="footer-col-text-spacer"></div>
								<div class="footer-col-text"><a href="https://oxford-instruments.com/modern-slavery?src=fn" id="ctl00_ctl00_ucFooter_ucFooterNavigation_rptList_ctl03_lnkElement">Modern Slavery</a></div>
							</div>
							<div class="col-lg-3"></div>
						</div>
					</div>
				</div>
			{% endblock footer %}

			{% block footer_tag_end %}
		</footer>
	</div>
	{% endblock footer_tag_end %}
	{% block footer_container_end %}</div>{% endblock footer_container_end %}
{% block body_end_before_js %}
{% endblock body_end_before_js %}

{% block foot_script %}
{# To only use a subset or add more js overwrite and copy paste this block
To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
Otherwise the regeneration is done on every load in dev more with use_controller: true
 #}
{% block foot_script_assetic %}
	{# Please add the javascripts you need in your project #}
{% endblock foot_script_assetic %}

	<script type="text/javascript">
		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();
			$('[data-toggle="popover"]').popover();
		});
	</script>
{% endblock foot_script %}
{% endblock body %}

{% block body_end %}
{% endblock body_end %}
</body>
</html>
