{{ form_start(testForm) }}

{{ form_row(testForm.name, {'label': 'Name of facility'}) }}
{{ form_row(testForm.system, {'label': 'System Type'}) }}

<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(testForm) }}