{% extends '::base.html.twig' %}
{% import ':Default:utils.html.twig' as utils %}
{% block head_style %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/tablesorter.css'|asset_version) }}" />
{% endblock head_style %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/home.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter-pager.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter-pagerappend.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter-widgets.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/highcharts.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/exporting.js'|asset_version) }}"></script>

{% endblock head_script %}

{% block page_header %}
{% endblock page_header %}

{% block content_content %}
	{% if systemsAlarmsCritical|length > 0 %}
		<div id="systemsAlarmsDiv">
			<h3 class="red">My Systems With Critical Alarms Now</h3>
			<div class="tablesorterPagerControls tablesorter-pager"></div>
			<table id="systemsAlarmsCritical" class="tablesorter">
				<thead>
				<tr>
					<th>System ID</th>
					<th>MAC</th>
					<th>Name</th>
					<th>Alarms</th>
				</tr>
				</thead>
				<tbody>
				{% for systemCritical in systemsAlarmsCritical %}
					<tr class="clickable-row" data-href="{{ path('system', {'id': systemCritical.system.id}) }}">
						<td>{{ systemCritical.system.systemId }}</td>
						<td>{{ systemCritical.system.macrdc }}</td>
						<td>{{ systemCritical.system.systemName }}</td>
						<td>{{ systemCritical.criticalsString }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}

	{% if systemsAlarms|length > 0 %}
	<div id="systemsAlarmsDiv">
		<h3 class="yellow">My Systems With Alarms Now</h3>
		<div class="tablesorterPagerControls tablesorter-pager"></div>
		<table id="systemsAlarms" class="tablesorter">
			<thead>
			<tr>
				<th>System ID</th>
				<th>MAC</th>
				<th>Name</th>
				<th>Alarms</th>
			</tr>
			</thead>
			<tbody>
			{% for systemAlarm in systemsAlarms %}
				<tr class="clickable-row" data-href="{{ path('system', {'id': systemAlarm.system.id}) }}">
					<td>{{ systemAlarm.system.systemId }}</td>
					<td>{{ systemAlarm.system.macrdc }}</td>
					<td>{{ systemAlarm.system.systemName }}</td>
					<td>{{ systemAlarm.alarmsString }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}

	{% if systemsAlarmsAll|length > 0 %}
		<div id="systemsAlarmsAllDiv">
			<h3 class="blue">My Systems With Alarms Today</h3>
			<div class="tablesorterPagerControls tablesorter-pager"></div>
			<table id="systemsAlarmsAll" class="tablesorter">
				<thead>
				<tr>
					<th>System ID</th>
					<th>MAC</th>
					<th>Name</th>
					<th>Type</th>
				</tr>
				</thead>
				<tbody>
				{% for systemAlarm in systemsAlarmsAll %}
					<tr class="clickable-row" data-href="{{ path('system', {'id': systemAlarm.system.id}) }}">
						<td>{{ systemAlarm.system.systemId }}</td>
						<td>{{ systemAlarm.system.macrdc }}</td>
						<td>{{ systemAlarm.system.systemName }}</td>
						<td>{% if systemAlarm.hasCriticalAlarm %}Critical Alarm{% else %}Alarm{% endif %}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}

	<div id="systemsDiv">
		<h3>My Systems</h3>
		<table>
			<tr>
				<td>Last Report Legend: </td>
				<td class="yellow">&emsp;Over {{ parameter('dashboardLastReportWarnHours') }} Hours</td>
				<td class="red">&emsp;Over {{ parameter('dashboardLastReportErrorHours') }} Hours</td>
			</tr>
		</table>
		<div class="tablesorterPagerControls tablesorter-pager"></div>
		<table id="systems" class="tablesorter">
			<thead>
			<tr>
				<th>System ID</th>
				<th>MAC</th>
				<th>Name</th>
				<th>Last Report</th>
				<th>Last HE/VP Reading</th>
			</tr>
			</thead>
			<tbody>
			{% for system in systems %}
				<tr class="clickable-row" data-href="{{ path('system', {'id': system[0].id}) }}">
					<td>{{ system[0].systemId }}</td>
					<td>{{ system[0].macrdc }}</td>
					<td>{{ system[0].systemName }}</td>
					<td class="{{ system['css'] }}">{{ system['ts'] }}{% if system['ts'] %} UTC{% else %}Unknown{% endif %}</td>
					<td>{% if system['he'] is not null or system['vp'] is not null %}HE: {% if system['he'] == "111.11" %}--.--{% else %}{{ system['he'] }}{% endif %}%&emsp;VP: {{ system['vp'] }} psi{% endif %}</td>

				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}

{% block content_sidebar %}
{% endblock %}

