{% extends 'Default/formLayout.html.twig' %}

{% block content_content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Edit System</h1>
				{{ include(':Default:_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}