{% extends '::base.html.twig' %}

{% block head_style %}
	{{ parent() }}
{% endblock head_style %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/home.js'|asset_version) }}"></script>

{% endblock head_script %}

{% block page_header %}
{% endblock page_header %}

{% block content_content %}

	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Welcome to the {{ parameter('site_name') }} portal!</h1>
			<br>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="col-med-4">
			<img src="{{ asset('images/common/oivision-box.png') }}" style="width: 30%; height: 30%; float: left; ">
		</div>
		<div class="col-med-8 text-justify">
			<div class="landing-text">
				<p>Oxford Instruments Healthcare is committed to supporting our customers’ success by offering world class services and support tools through our {{ site_name }} portal.
					The {{ site_name }} portal is a secure site that provides you with instant access to critical magnet information about your GE MR systems. </p>
			</div>
		</div>
	</div>
	<div style="clear: both;"></div>

	
{% endblock content_content %}

{% block content_sidebar %}
{% endblock %}

