{# system #}
{# Created by Justin on 11/21/2017 #}
{% import ':Default:utils.html.twig' as utils %}
{% for datum in data %}
	<tr>
		<td>{{ datum.timestamp|date('Y-m-d H:i:s') }}</td>
		<td class="{% if datum.hec %}critical{% elseif datum.hea %}alarm{% endif %}">{% if datum.he == 111.11 %}--{% else %}{{ datum.he }}{% endif %}</td>
		<td class="{% if datum.vpc %}critical{% elseif datum.vpa %}alarm{% endif %}">{{ datum.vp }}</td>
		<td class="{% if datum.wtc %}critical{% elseif datum.wta %}alarm{% endif %}">{{ datum.wt }}</td>
		<td class="{% if datum.wfc %}critical{% elseif datum.wfa %}alarm{% endif %}">{{ datum.wf }}</td>
		<td class="{% if datum.tfc %}critical{% elseif datum.tfa %}alarm{% endif %}">{{ datum.tf }}</td>
		<td class="{% if datum.rhc %}critical{% elseif datum.rha %}alarm{% endif %}">{{ datum.rh }}</td>
		<td class="{% if datum.dpc %}critical{% elseif datum.dpa %}alarm{% endif %}">{% if datum.dp == 0 %}--{% else %}{{ datum.dp }}{% endif %}</td>
		<td class="{% if datum.dpdc %}critical{% elseif datum.dpda %}alarm{% endif %}">{% if datum.dp == 0 %}--{% else %}{{ datum.dpdiff }}{% endif %}</td>
		<td class="{% if datum.cmpc %}critical{% endif %}">{% if datum.cmp %}On{% else %}Off{% endif %}</td>
		<td class="{% if datum.qc %}critical{% endif %}">{% if datum.q %}On{% else %}Off{% endif %}</td>
		<td>{% if datum.hasAlarm %}Yes{% endif %}</td>
		<td>{% if datum.hasCriticalAlarm %}Yes{% endif %}</td>
	</tr>
{% endfor %}

