{# system #}
{# Created by Justin on 11/7/2017 #}

{% extends '::base.html.twig' %}
{% import ':Default:utils.html.twig' as utils %}

{% block head_style %}
	{{ parent() }}
	<style>
		.container {
			width: 100%;
			padding-left: 25px;
			padding-right: 25px;
			margin-left: 0;
			margin-right: 0;
		}
		.alarm {
			background-color: yellow;
		}
		.critical {
			background-color: red;
		}
	</style>
{% endblock head_style %}


{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/system.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/highcharts.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/exporting.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/series-label.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script type="text/javascript" src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
	<script type="text/javascript">
		{{ chart(chartEnviromentals) }}
		{{ chart(chartVessel) }}
	</script>
	<script type="text/javascript">

	</script>

{% endblock head_script %}


{#{% block page_header %}#}
{% block headline %}
	{% if is_granted('ROLE_MANAGER_USER') or is_granted('ROLE_MANAGER_EMPLOYEE') %}
		<p>{{ system.systemId }} - {{ system.systemName }}{{ utils.editLink(path('systems_edit', {'id': system.id})) }}</p>
	{% else %}
		<p>{{ system.systemId }} - {{ system.systemName }}</p>
	{% endif %}
	<p style="font-size: small;">RDC MAC: {{ system.macrdc }}&emsp;Graphed Days: {{ days }}</p>
		{{ form_start(form) }}
		{{ form_row(form.showAll) }}
		{{ form_row(form.showSubmit) }}
		{{ form_end(form) }}
{% endblock headline %}
{#{% endblock page_header %}#}



{% block content_content %}
	{% if vesDataSet %}
	<div id="chartVessel" style="min-width: 400px; height: 600px; margin: 0 auto"></div>
	<br>
	<br>
	{% endif %}
	{% if envDataSet %}
	<div id="chartEnviromentals" style="min-width: 400px; height: 600px; margin: 0 auto"></div>
	<br>
	<br>
	{% endif %}
	<div style="text-align: center; font-weight: bold; font-size: larger;">Raw Data</div>
	<div style="text-align: center; font-weight: lighter; font-size: smaller;">Legend:&emsp;<span class="alarm">Alarms</span>&emsp;<span class="critical">Critical Alarms</span></div>
	<div style="margin-left: auto; margin-right: auto; text-align: center; width: 50%;">
		<table border="1" width="100%" class="rawdata">
			<thead>
				<tr>
					<th>Timestamp</th>
					<th{% if not system.monitorHe %}{{ utils.lineThrough() }}{% endif %}>Helium Level</th>
					<th{% if not system.monitorVp %}{{ utils.lineThrough() }}{% endif %}>Vessel Pressure</th>
					<th{% if not system.monitorWt %}{{ utils.lineThrough() }}{% endif %}>Water Temp</th>
					<th{% if not system.monitorWf %}{{ utils.lineThrough() }}{% endif %}>Water Flow</th>
					<th{% if not system.monitorTf %}{{ utils.lineThrough() }}{% endif %}>Room Temp</th>
					<th{% if not system.monitorRh %}{{ utils.lineThrough() }}{% endif %}>Room RH</th>
					<th{% if not system.monitorDp %}{{ utils.lineThrough() }}{% endif %}>Room DP</th>
					<th{% if not system.monitorDpDiff %}{{ utils.lineThrough() }}{% endif %}>Room DP Diff</th>
					<th{% if not system.monitorCmp %}{{ utils.lineThrough() }}{% endif %}>Compressor</th>
					<th{% if not system.monitorQ %}{{ utils.lineThrough() }}{% endif %}>Field</th>
					<th>Alarm</th>
					<th>Critical Alarm</th>
				</tr>
			</thead>
			<tbody>
			{% for datum in data %}
				<tr>
					<td>{{ datum.timestamp|date('Y-m-d H:i:s') }}</td>
					<td class="{% if datum.hec %}critical{% elseif datum.hea %}alarm{% endif %}">{% if datum.he == 111.11 %}--{% else %}{{ datum.he }}{% endif %}</td>
					<td class="{% if datum.vpc %}critical{% elseif datum.vpa %}alarm{% endif %}">{{ datum.vp }}</td>
					<td class="{% if datum.wtc %}critical{% elseif datum.wta %}alarm{% endif %}">{{ datum.wt }}</td>
					<td class="{% if datum.wfc %}critical{% elseif datum.wfa %}alarm{% endif %}">{{ datum.wf }}</td>
					<td class="{% if datum.tfc %}critical{% elseif datum.tfa %}alarm{% endif %}">{{ datum.tf }}</td>
					<td class="{% if datum.rhc %}critical{% elseif datum.rha %}alarm{% endif %}">{{ datum.rh }}</td>
					<td class="{% if datum.dpc %}critical{% elseif datum.dpa %}alarm{% endif %}">{% if datum.dp == 0 %}--{% else %}{{ datum.dp }}{% endif %}</td>
					<td class="{% if datum.dpdc %}critical{% elseif datum.dpda %}alarm{% endif %}">{% if datum.dp == 0 %}--{% else %}{{ datum.dpdiff }}{% endif %}</td>
					<td class="{% if datum.cmpc %}critical{% endif %}">{% if datum.cmp %}On{% else %}Off{% endif %}</td>
					<td class="{% if datum.qc %}critical{% endif %}">{% if datum.q %}On{% else %}Off{% endif %}</td>
					<td>{% if datum.hasAlarm %}Yes{% endif %}</td>
					<td>{% if datum.hasCriticalAlarm %}Yes{% endif %}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<div class="moreData">
			<a id="loadMoreDataNew" onclick="loadMoreData();" style="cursor: pointer;">More Data</a>
		</div>
	</div>
	<div id="hidden" style="display: none;">
		<span id="systemId">{{ system.id }}</span><br>
		{%  if data %}
			<span id="lastDate">{{ data|last.timestamp|date('Y-m-d H:i:s') }}</span><br>
		{% endif %}
		<div id="newData"></div>
	</div>
{% endblock %}


{% block content_sidebar %}
{% endblock %}

