{% extends '::base.html.twig' %}

{% block content_sidebar %}
	{#<h2>Here is a test</h2>#}
	{#<p>This is a gereat aasdf oklhj;as w dcaf</p>#}
{% endblock %}

{% block content_content %}
	<div id="welcome">
		<h1></h1>
	</div>
	<div id="data">
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>name</th>
					<th>system</th>
				</tr>
			</thead>
			<tbody>
				{% for datum in data %}
					<tr>
						<td><a href="{{ path('edit', {'id': datum.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a> </td>
						<td>{{ datum.name }}</td>
						<td>{{ datum.system }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}