{# admin #}
{# Created by Justin on 7/12/2017 #}

{% extends '::base.html.twig' %}

{% block head_style %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/adm.css'|asset_version) }}" />
{% endblock head_style %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script type="text/javascript" src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
	<script type="text/javascript" src="{{ asset('js/adm.js'|asset_version) }}"></script>

{% endblock head_script %}

{% block headline %}
	Administration
{% endblock headline %}

{% block content_content %}
	<button id="irdButton">Import Remote Data Now</button>
	<p id="ird-stream-started" style="display: none;">Command Started.</p>
	<code id="ird-stream-output" style="display: none; max-height: 50px; overflow: scroll;"></code>
	<p id="ird-stream-ended" style="display: none;">Command Completed.</p>
	<button id="irdButtonClose" style="display: none">Close</button>
	<hr />
	<button id="irsButton">Import Remote Systems Now</button>
	<p id="irs-stream-started" style="display: none;">Command Started.</p>
	<code id="irs-stream-output" style="display: none; max-height: 50px; overflow: scroll;"></code>
	<p id="irs-stream-ended" style="display: none;">Command Completed.</p>
	<button id="irsButtonClose" style="display: none">Close</button>
	<hr />


{% endblock content_content %}

{% block content_sidebar %}
{% endblock content_sidebar %}