{# admin #}
{# Created by Justin on 7/12/2017 #}

{% extends '::base.html.twig' %}


{% block head_style %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/adm.css'|asset_version) }}" />
	<link rel="stylesheet" href="{{ asset('css/tablesorter.css'|asset_version) }}" />
{% endblock head_style %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/adm.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter-pager.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter-pagerappend.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter-widgets.js'|asset_version) }}"></script>
{% endblock head_script %}

{% block headline %}
	Customers Administration
{% endblock headline %}

{% block content_content %}
	<h3>Customers Enabled</h3>
	<div class="tablesorterPagerControls tablesorter-pager"></div>
	<table id="customersEnabled" class="tablesorter">
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>City</th>
			<th>State</th>
		</tr>
		</thead>
		<tbody>
		{% for customerEnabled in customersEnabled %}
			<tr class="clickable-row" data-href="{{ path('customers_edit', {'id': customerEnabled.id}) }}">
				<td>{{ customerEnabled.id }}</td>
				<td>{{ customerEnabled.name }}</td>
				<td>{{ customerEnabled.city }}</td>
				<td>{{ customerEnabled.state }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<hr>
	<h3>Customers Not Enabled</h3>
	<div class="tablesorterPagerControls tablesorter-pager"></div>
	<table id="customersNotEnabled" class="tablesorter">
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>City</th>
			<th>State</th>
		</tr>
		</thead>
		<tbody>
		{% for customerNotEnabled in customersNotEnabled %}
			<tr class="clickable-row" data-href="{{ path('customers_edit', {'id': customerNotEnabled.id}) }}">
				<td>{{ customerNotEnabled.id }}</td>
				<td>{{ customerNotEnabled.name }}</td>
				<td>{{ customerNotEnabled.city }}</td>
				<td>{{ customerNotEnabled.state }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock content_content %}

{% block content_sidebar %}
{% endblock content_sidebar %}