{# customersNewEdit #}
{# Created by Justin on 8/31/2017 #}

{% extends '::base.html.twig' %}

{% block head_style %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/adm.css'|asset_version) }}" />
{% endblock head_style %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/customers.js'|asset_version) }}"></script>
{% endblock head_script %}

{% block headline %}
	{% if newCustomer %}
		Create New Customer
	{% else %}
		Edit Customer
	{% endif %}
{% endblock headline %}

{% block content_content %}
	{{ form_start(customerForm) }}

	{{ form_row(customerForm.name) }}
	<div style="{% if newCustomer %} display: none; {% endif %}">
		{{ form_row(customerForm.enabled) }}

	</div>
	{{ form_row(customerForm.address) }}
	{{ form_row(customerForm.city) }}
	{{ form_row(customerForm.state) }}
	{{ form_row(customerForm.zip) }}
	{{ form_row(customerForm.phone) }}
	{{ form_row(customerForm.email) }}
	{{ form_row(customerForm.comment) }}

	<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
	{{ form_end(customerForm) }}

	<span style="display: none;" id="editState">{% if state is defined %}{{ state }}{% endif %}</span>
{% endblock content_content %}


{% block content_sidebar %}
{% endblock content_sidebar %}