{# admin #}
{# Created by Justin on 7/12/2017 #}

{% extends '::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash %}

{% block head_style %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/adm.css'|asset_version) }}" />
{% endblock head_style %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/adm.js'|asset_version) }}"></script>


{% endblock head_script %}

{% block headline %}
	Global Alarms Settings
{% endblock headline %}

{% block content_content %}
	{{ form_start(alarmsForm) }}
	<div class="row">
		<h2>Helium Level</h2>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_he_l) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_he_l) }}</div>
	</div>
	<div class="row">
		<h2>Helium Burn</h2>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_heb_h) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_heb_h) }}</div>
	</div>
	<div class="row">
		<h2>Vessel Pressure</h2>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_vp_l) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_vp_l) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_vp_h) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_vp_h) }}</div>
	</div>
	<div class="row">
		<h2>Water Flow</h2>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_wf_l) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_wf_l) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_wf_h) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_wf_h) }}</div>
	</div>
	<div class="row">
		<h2>Water Temperature</h2>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_wt_l) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_wt_l) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_wt_h) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_wt_h) }}</div>
	</div>
	<div class="row">
		<h2>Room Humidity</h2>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_rh_l) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_rh_l) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_rh_h) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_rh_h) }}</div>
	</div>
	<div class="row">
		<h2>Room Temperature</h2>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_tf_l) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_tf_l) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_tf_h) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_tf_h) }}</div>
	</div>
	<div class="row">
		<h2>Dew Point</h2>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_dp_h) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_dp_h) }}</div>
	</div>
	<div class="row">
		<h2>Dew Point Temperature Differance</h2>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_dp_diff) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_dp_diff) }}</div>
	</div>
	<hr>
	<div class="row">
		<h2>Storage Helium Level</h2>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_storage_he_l) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_storage_he_l) }}</div>
	</div>
	<div class="row">
		<h2>Storage Vessel Pressure</h2>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_storage_vp_l) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_storage_vp_l) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.alarm_storage_vp_h) }}</div>
		<div class="col-xs-2">{{ form_row(alarmsForm.critical_storage_vp_h) }}</div>
	</div>

	<div class="row">
		<hr>
		<div class="col-xs-12"><button type="submit" class="btn btn-primary" formnovalidate>Save</button></div>
	</div>

	{{ form_row(alarmsForm.uid) }}

	{{ form_end(alarmsForm) }}

{% endblock content_content %}

{% block content_sidebar %}
{% endblock content_sidebar %}