{# usersNewEdit #}
{# Created by Justin on 8/31/2017 #}

{% extends '::base.html.twig' %}

{% block head_style %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/adm.css'|asset_version) }}" />
{% endblock head_style %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/users.js'|asset_version) }}"></script>
{% endblock head_script %}

{% block headline %}
	{% if newUser %}
		Create New User
	{% else %}
		Edit User
	{% endif %}
{% endblock headline %}

{% block content_content %}
	{{ form_start(userForm) }}

	{{ form_row(userForm.uid) }}
	{{ form_row(userForm.name) }}
	<div style="{% if newUser %} display: none; {% endif %}">
		{{ form_row(userForm.enabled) }}
		{{ form_row(userForm.registered) }}

	</div>
	{{ form_row(userForm.roles) }}
	{{ form_row(userForm.customerId) }}
	{{ form_row(userForm.address) }}
	{{ form_row(userForm.city) }}
	{{ form_row(userForm.state) }}
	{{ form_row(userForm.zip) }}
	{{ form_row(userForm.phone) }}
	{{ form_row(userForm.email) }}
	{{ form_row(userForm.timeZone) }}
	{{ form_row(userForm.comment) }}

	<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
	{% if not newUser %}
		<button type="button" class="btn btn-primary" formnovalidate onclick="location.href='{{ path('homepage') }}?_switch_user={{ userForm.vars.value.email|url_encode }}'" >Impersonate</button>
	{% endif %}
	{{ form_end(userForm) }}

	<span style="display: none;" id="editState">{% if state is defined %}{{ state }}{% endif %}</span>
{% endblock content_content %}


{% block content_sidebar %}
{% endblock content_sidebar %}