{% extends 'Default/formLayout.html.twig' %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript">
		function submitForm() {
			$(".registerEmailFind").val($('form input').first().val());
			$('form').submit();
		}
	</script>
{% endblock head_script %}

{% block page_header %}
	<div class="page-header">
		<h1>{% block headline %}Register for access{% endblock headline %}</h1>
		<span class="control-label required"></span>&emsp;Required Fields
	</div>
{% endblock page_header %}

{% block content_content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				{{ form_errors(form) }}
				{{ form_start(form) }}
					{{ form_row(form.uid) }}
					<br>
					<br>
					{{ form_row(form.plainPassword.first,{
						'label': 'Password'
					}) }}
					{{ form_row(form.plainPassword.second, {
						'label': 'Repeat Password'
					}) }}
					<br>
					<br>
					{{ form_row(form.name) }}
					<br>
					<br>
					{{ form_row(form.phone) }}
					<br>
					<br>
					{{ form_row(form.address) }}
					{{ form_row(form.city) }}
					{{ form_row(form.state) }}
					{{ form_row(form.zip) }}
					<br>
					<br>
					{{ form_row(form.comment) }}

					<button type="button" class="btn btn-primary" formnovalidate onclick="submitForm()">Register</button>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}