{# usersProfile #}
{# Created by Justin on 9/7/2017 #}

{% extends '::base.html.twig' %}

{% block headline %}
	Preferences for {{ app.user.name }}
{% endblock headline %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/users.js'|asset_version) }}"></script>

{% endblock head_script %}

{% block content_content %}
	<div class="row">
		<div class="col-xs-12">
			{{ form_start(prefsForm) }}
			{{ form_end(prefsForm) }}
		</div>
	</div>
	<br>
	<div><hr></div><br>
	<h3>Systems to get notifications for:</h3>
	Note: Unchecking all systems is will cause you to get notifications for all systems. Set Daily and Critical Alarms above to No to disable notifications.
	<br><br>
	<div class="row">
		<div class="col-xs-12">
			{{ form_start(prefsSysForm) }}
			{{ form_row(prefsSysForm.checkuncheck) }}
			{{ form_row(prefsSysForm.systems) }}
			{{ form_row(prefsSysForm.saveSystems) }}
			{{ form_end(prefsSysForm) }}
		</div>
	</div>
{% endblock content_content %}

{% block content_sidebar %}
{% endblock content_sidebar %}