{# admin #}
{# Created by Justin on 7/12/2017 #}

{% extends '::base.html.twig' %}


{% block head_style %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/adm.css'|asset_version) }}" />
	<link rel="stylesheet" href="{{ asset('css/tablesorter.css'|asset_version) }}" />
{% endblock head_style %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/adm.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter-pager.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter-pagerappend.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter-widgets.js'|asset_version) }}"></script>
{% endblock head_script %}

{% block headline %}
	Systems Administration
{% endblock headline %}

{% block content_content %}

	<h3>Systems Enabled</h3>
	<div class="tablesorterPagerControls tablesorter-pager"></div>
	<table id="systemsEnabledList" class="tablesorter">
		<thead>
		<tr>
			<th>System ID</th>
			<th>RDC Mac Address</th>
			<th>System Name</th>
		</tr>
		</thead>
		<tbody>
		{% for system in systemsEnabledData %}
			<tr class="clickable-row" data-href="{{ path('systems_edit', {'id': system.id}) }}">
				<td>{{ system.systemId }}</td>
				<td>{{ system.macrdc }}</td>
				<td>{{ system.systemName }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<hr>
	<h3>Systems Not Enabled</h3>
	<div class="tablesorterPagerControls tablesorter-pager"></div>
	<table id="systemsNotEnabledList" class="tablesorter">
		<thead>
		<tr>
			<th>System ID</th>
			<th>RDC Mac Address</th>
			<th>System Name</th>
		</tr>
		</thead>
		<tbody>
		{% for system in systemsNotEnabledData %}
			<tr class="clickable-row" data-href="{{ path('systems_edit', {'id': system.id}) }}">
				<td>{{ system.systemId }}</td>
				<td>{{ system.macrdc }}</td>
				<td>{{ system.systemName }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock content_content %}

{% block content_sidebar %}
{% endblock content_sidebar %}