{# usersNewEdit #}
{# Created by Justin on 8/31/2017 #}

{% extends '::base.html.twig' %}

{% block head_style %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/adm.css'|asset_version) }}" />
{% endblock head_style %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/systems.js'|asset_version) }}"></script>
	<script>
		$(document).ready(function () {
			$(".js-useGlobalAlarmsFind").change(function () {
				console.log($(this).val());
				$("#systemAlarms").toggle(1000);
			});

			$(".macFind").change(function () {
				$(this).val($(this).val().toLowerCase().replace(/\:/g, '-'));
			});
		});
	</script>
{% endblock head_script %}

{% block headline %}
	{% if newSystem %}
		Create New System
	{% else %}
		Edit System
	{% endif %}
{% endblock headline %}

{% block content_content %}
	{{ form_start(systemsForm) }}
	<div class="row">
		<div class="col-sm-3">{{ form_row(systemsForm.macRdc) }}</div>
		<div class="col-sm-3">{{ form_row(systemsForm.enabled) }}</div>
		<div class="col-sm-3">{{ form_row(systemsForm.useGlobalAlarms) }}</div>
		<div class="col-sm-3">{{ form_row(systemsForm.inStorage) }}</div>
	</div>
	<div class="row">
		<div class="col-sm-12">{{ form_row(systemsForm.customerId) }}</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-2">{{ form_row(systemsForm.systemId) }}</div>
		<div class="col-sm-10">{{ form_row(systemsForm.systemName) }}</div>
	</div>
	<div class="row">
		<div class="col-sm-12">{{ form_row(systemsForm.systemAddress) }}</div>
	</div>
	<div class="row">
		<div class="col-sm-4">{{ form_row(systemsForm.systemCity) }}</div>
		<div class="col-sm-4">{{ form_row(systemsForm.systemState) }}</div>
		<div class="col-sm-4">{{ form_row(systemsForm.systemZip) }}</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12">{{ form_row(systemsForm.notes) }}</div>
	</div>
	<hr>
	<h3>Monitored Parameters</h3>
	<div class="row table-bordered">
		<div class="col-sm-12">
			<div class="row" style="padding: 5px;">
				<div class="col-sm-2">{{ form_row(systemsForm.monitorHe) }}</div>
				<div class="col-sm-2">{{ form_row(systemsForm.monitorHeb) }}</div>
				<div class="col-sm-2">{{ form_row(systemsForm.monitorVp) }}</div>
				<div class="col-sm-2">{{ form_row(systemsForm.monitorWf) }}</div>
				<div class="col-sm-2">{{ form_row(systemsForm.monitorWt) }}</div>
				<div class="col-sm-2">{{ form_row(systemsForm.monitorRh) }}</div>
				<div class="col-sm-2">{{ form_row(systemsForm.monitorDp) }}</div>
				<div class="col-sm-2">{{ form_row(systemsForm.monitorDpDiff) }}</div>
			</div>
			<div class="row" style="padding: 5px;">
				<div class="col-sm-2">{{ form_row(systemsForm.monitorTf) }}</div>
				<div class="col-sm-2">{{ form_row(systemsForm.monitorCmp) }}</div>
				<div class="col-sm-2">{{ form_row(systemsForm.monitorQ) }}</div>
			</div>
		</div>
	</div>

	<h3>Averaged Parameters</h3>
	<div class="row table-bordered">
		<div class="col-sm-12">
			<div class="row" style="padding: 5px;">
				<div class="col-xs-2">{{ form_row(systemsForm.avgHe) }}</div>
				<div class="col-xs-2">{{ form_row(systemsForm.avgVp) }}</div>
			</div>
		</div>
	</div>

	<div id="systemAlarms" style="{% if systemsForm.useGlobalAlarms.vars.data or newSystem %} display: none; {% endif %}">
		<hr>
		<h3>Alarm Settings</h3>
		<div class="row">
			<h4>Helium Level</h4>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_he_l) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_he_l) }}</div>

		</div>
		<div class="row">
			<h4>Helium Burn</h4>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_heb_h) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_heb_h) }}</div>
		</div>
		<div class="row">
			<h4>Vessel Pressure</h4>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_vp_l) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_vp_l) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_vp_h) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_vp_h) }}</div>
		</div>
		<div class="row">
			<h4>Water Flow</h4>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_wf_l) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_wf_l) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_wf_h) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_wf_h) }}</div>
		</div>
		<div class="row">
			<h4>Water Temperature</h4>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_wt_l) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_wt_l) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_wt_h) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_wt_h) }}</div>
		</div>
		<div class="row">
			<h4>Room Humidity</h4>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_rh_l) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_rh_l) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_rh_h) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_rh_h) }}</div>
		</div>
		<div class="row">
			<h4>Room Temperature</h4>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_tf_l) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_tf_l) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_tf_h) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_tf_h) }}</div>
		</div>
		<div class="row">
			<h4>Room Dewpoint</h4>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_dp_h) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_dp_h) }}</div>
		</div>
		<div class="row">
			<h4>Dewpoint Difference</h4>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_dp_diff) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_dp_diff) }}</div>
		</div>
		<hr>
		<div class="row">
			<h4>Storage Helium Level</h4>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_storage_he_l) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_storage_he_l) }}</div>
		</div>
		<div class="row">
			<h4>Storage Vessel Pressure</h4>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_storage_vp_l) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_storage_vp_l) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.alarm_storage_vp_h) }}</div>
			<div class="col-xs-2">{{ form_row(systemsForm.critical_storage_vp_h) }}</div>
		</div>
	</div>
	<hr>
	<h3>Data Offsets</h3>
	<div class="row">
		<div class="col-sm-12">
			<div class="row" style="padding: 5px;">
				<div class="col-sm-2">{{ form_row(systemsForm.offset_he) }}</div>
				<div class="col-sm-2">{{ form_row(systemsForm.offset_vp) }}</div>
				<div class="col-sm-2">{{ form_row(systemsForm.offset_wtf) }}</div>
				<div class="col-sm-2">{{ form_row(systemsForm.offset_wf) }}</div>
				<div class="col-sm-2">{{ form_row(systemsForm.offset_tc) }}</div>
				<div class="col-sm-2">{{ form_row(systemsForm.offset_rh) }}</div>
			</div>
		</div>
	</div>
	{{ form_row(systemsForm.registered) }}
	<hr>
	{{ form_row((systemsForm.clearData)) }}
	<hr>
	<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
	{{ form_end(systemsForm) }}

	<span style="display: none;" id="editState">{% if state is defined %}{{ state }}{% endif %}</span>
{% endblock content_content %}


{% block content_sidebar %}
{% endblock content_sidebar %}